.el-container{
  position: relative;
  .el-main{
    margin-top: 66px;
    padding: 28px;
  }
  .el-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 28px;
    line-height: 66px;
    height: 66px;
    background: #fff;
    .module-title{
      font-size: 24px;
    }
  }
  .el-aside {
    width: 244px;
    height: 1080px;
    overflow: hidden;
    background: #254877;
    .logo{
      display: block;
      margin: 17px auto 0;
      width: 191px;
      height: 61px;
    }
    .el-menu{
      margin-top: 10px;
      width: 100%;
      background: transparent;
      .el-menu-item{
        padding-left: 48px !important;
        color: #7C9DC9;
        font-size: 26px;
        height: 66px;
        line-height: 66px;
        &.is-active{
          color: #FFFFFF;
        }
        &:hover{
          background: #4B8EEA;
          color: #FFFFFF;
          i{
            color: #FFFFFF;
          }
          .icon-menu{
            opacity: 1;
          }
        }
      }
    }
    :deep .el-submenu{
      .el-menu{
        background: transparent;
        .el-menu-item{
          padding-left: 94px !important;
          font-size: 22px;
        }
      }
      .el-submenu__title{
        padding-left: 45px !important;
        height: 66px;
        line-height: 66px;
        color: #7C9DC9;
        font-size: 26px;
        &:hover{
          background: #4B8EEA;
          color: #FFFFFF;
          i{
            color: #FFFFFF;
          }
          .icon-menu{
            opacity: 1;
          }
        }
        .el-submenu__icon-arrow{
          color: #7C9DC9;
          font-size: 16px;
          font-weight: 600;
        }
      }
    }
    .icon-menu{
      margin-right: 20px;
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      &::before{
        content: '';
      }
    }
    .icon-home{
      top: -2px;
      background: url("../../assets/icon-home.png") no-repeat;
      background-size: 100% 100%;
    }
    .icon-img{
      top: -1px;
      background: url("../../assets/icon-img.png") no-repeat;
      background-size: 100% 100%;
    }
    .icon-post{
      top: -3px;
      width: 23px;
      height: 29px;
      background: url("../../assets/icon-post.png") no-repeat;
      background-size: 100% 100%;
    }
    .icon-user{
      top: -3px;
      width: 29px;
      height: 20px;
      background: url("../../assets/icon-user.png") no-repeat;
      background-size: 100% 100%;
    }
  }
}
