.library{
  .line-common{
    margin: 0;
    width: 1620px;
    height: 1045px;
    border-radius: 8px;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
    .line-title{
      margin: 17px 0 0 28px;
      display: flex;
      align-items: center;
      .title-symbol{
        width: 13px;
        height: 38px;
        background: rgba(75, 142, 234, 1);
      }
      .title{
        margin-left: 20px;
        font-size: 30px;
        color: #363636;
        line-height: 42px;
      }
    }
  }
}
.avatar-uploader{
  :deep .el-upload {
    border: 2px dashed rgba(247, 247, 247, 1);
    border-radius: 6px;
    width: 250px;
    height: 250px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:hover {
      border-color: rgba(184, 203, 246, 1);
    }
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      display: inline-block;
      width: 69px;
      height: 69px;
      background: url("../../../assets/icon-upload-img.png") no-repeat;
      background-size: 69px 69px;
    }
  }
  .avatar {
    width: 250px;
    height: 250px;
    display: block;
  }
  :deep .el-upload-list__item{
    width: 250px;
    height: 250px;
  }
  :deep .el-icon-zoom-in{
    display: none;
  }
}
