.swiper-box{
  height: 220px;
  position: relative;
  img{
    border-radius: 4px;
  }
  :deep .swiper-button-prev{
    width: 58px;
    height: 58px;
    &:after{
      display: block;
      content: '';
      width: 58px;
      height: 58px;
      background: rgba(52, 49, 49, 0.5);
      border-radius: 50%;
    }
  }
  :deep .swiper-button-next{
    width: 58px;
    height: 58px;
    &:after{
      display: block;
      content: '';
      width: 58px;
      height: 58px;
      background: rgba(52, 49, 49, 0.5);
      border-radius: 50%;
    }
  }
}
.line-common{
  margin: 28px 0 0;
  width: 1620px;
  height: 786px;
  border-radius: 8px;
  background: #FFFFFF;
  position: relative;
  overflow: hidden;
  .line-title{
    margin: 17px 0 0 28px;
    display: flex;
    align-items: center;
    .title-symbol{
      width: 13px;
      height: 38px;
      background: rgba(75, 142, 234, 1);
    }
    .title{
      margin-left: 20px;
      font-size: 30px;
      color: #363636;
      line-height: 42px;
    }
  }
  .line-content{
    width: 100%;
    overflow: hidden;
    position: relative;
    .upload-title{
      margin: 20px 16px 0 28px;
      display: flex;
      justify-content: space-between;
      .sp1{
        font-size: 24px;
        font-weight: 500;
        color: #969696;
        line-height: 33px;
      }
      .sp2{
        width: 84px;
        height: 38px;
        background: #4B8EEA;
        border-radius: 6px;
        font-size: 24px;
        color: #FFFFFF;
        line-height: 38px;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
:deep .avatar-uploader{
  margin: 17px 0 0 28px;
}
.swiper-edit{
  margin: 17px 18px 0 28px;
  .add-link{
    margin-top: 25px;
    width: 506px;
    height: 56px;
    border-radius: 3px;
    border: 1px solid #363636;
    font-size: 24px;
    color: #363636;
    line-height: 56px;
    text-align: center;
    cursor: pointer;
    :deep .el-input__inner{
      width: 506px;
      height: 56px;
      border-radius: 3px;
      border: 1px solid #363636;
      font-size: 24px;
      color: #363636;
    }
  }
}
.swiper-slide{
  position: relative;
  .icon-del{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
