.library{
  .line-common{
    margin: 0;
    width: 1620px;
    height: 960px;
    border-radius: 8px;
    background: #FFFFFF;
    position: relative;
    overflow: hidden;
    .line-title{
      margin: 17px 0 0 28px;
      display: flex;
      align-items: center;
      .title-symbol{
        width: 13px;
        height: 38px;
        background: rgba(75, 142, 234, 1);
      }
      .title{
        margin-left: 20px;
        font-size: 30px;
        color: #363636;
        line-height: 42px;
      }
    }
    .line-content{
      margin: 15px 0 0 28px;
      width: 100%;
      overflow: hidden;
      position: relative;
      .el-container{
        background: #F5F5F6;
        .el-aside{
          width: 188px;
          height: 800px;
          background: #255977;
          border-radius: 6px 0 0 6px;
          .list-item{
            margin-top: 28px;
            font-size: 28px;
            color: #7CB6C9;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            &:hover{
              color: #FFFFFF;
            }
            &.active{
              color: #FFFFFF;
            }
          }
          .add-item{
            margin: 28px auto 0;
            width: 148px;
            height: 41px;
            border-radius: 4px;
            border: 1px solid #7CB6C9;
            text-align: center;
            line-height: 41px;
            font-size: 18px;
            color: #7CB6C9;
            cursor: pointer;
          }
        }
        .el-header{
          padding: 14px 0 0 27px;
          width: 1376px;
          height: 66px;
          background: #788699;
          border-radius: 0 6px 0 0;
          font-size: 28px;
          color: #FFFFFF;
          line-height: 40px;
        }
        .el-main{
          margin: 12px 9px 0;
          padding: 0;
          width: 1376px;
          .library-box{
            display: flex;
            .library-add{
              margin-right: 15px;
              width: 153px;
              height: 217px;
              background: #fff;
              cursor: pointer;
              .dv1{
                margin: 65px auto 0;
                width: 54px;
                height: 45px;
                img{
                  width: 100%;
                  height: 100%
                }
              }
              .dv2{
                margin-top: 17px;
                text-align: center;
                font-size: 18px;
                font-weight: 400;
                color: #969696;
                line-height: 25px;
              }

            }
            .library-item{
              margin-right: 15px;
              width: 153px;
              height: 217px;
              background: #fff;
              .dv1{
                margin: 6px 0 0 13px;
                width: 126px;
                height: 126px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              .dv2{
                margin-top: 2px;
                text-align: center;
                font-size: 24px;
                color: #363636;
                line-height: 33px;
              }
              .dv3{
                margin-top: 7px;
                border-top: 1px solid #EBEBEB;
                display: flex;
                span{
                  width: 50%;
                  height: 43px;
                  line-height: 43px;
                  font-size: 18px;
                  font-weight: 400;
                  color: #969696;
                  text-align: center;
                  &.sp1{
                    border-right: 1px solid #EBEBEB;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}